{% if section.settings.show_announcement %}
  <div class="announcement-wrapper">
    <div class="announcement">
      <div class="ann-container">
        <div class="text-icon-wrapper">
          <div class="frame-24">
            <div class="announcment-text">{{ section.settings.announcement_text }}</div>
          </div>
          {% if section.settings.announcement_icon != blank %}
            {{ section.settings.announcement_icon | image_url: width: 20 | image_tag: class: 'announcement-icon', loading: 'lazy' }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Free shipping on all orders over €100"
    },
    {
      "type": "image_picker",
      "id": "announcement_icon",
      "label": "Announcement icon"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Header"
    }
  ]
}
{% endschema %}
