{% if section.settings.show_announcement %}
<div class="announcement">
  <div class="navbar">
    <p class="p">{{ section.settings.announcement_text }}</p>
    <div class="rectangle"></div>
    <p class="p">{{ section.settings.announcement_text }}</p>
    <div class="rectangle"></div>
    <p class="p">{{ section.settings.announcement_text }}</p>
    <div class="rectangle"></div>
    <p class="p">{{ section.settings.announcement_text }}</p>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Free shipping on all orders over ₹100"
    }
  ]
}
{% endschema %}
