{% if section.settings.show_announcement %}
<div class="announcement-wrapper">
  <div class="announcement">
    <div class="ann-container">
      {% for i in (1..3) %}
        <div class="text-icon-wrapper">
          <div class="frame-24">
            <div class="announcment-text">{{ section.settings.announcement_text }}</div>
          </div>
          <img src="{{ 'vectors-wrapper.svg' | asset_url }}" loading="lazy" width="8.485280990600586" height="8.485280990600586" alt="" class="vectors-wrapper-5"/>
        </div>
      {% endfor %}
    </div>
    <!-- Duplicate containers for infinite scroll effect -->
    <div class="ann-container">
      {% for i in (1..3) %}
        <div class="text-icon-wrapper">
          <div class="frame-24">
            <div class="announcment-text">{{ section.settings.announcement_text }}</div>
          </div>
          <img src="{{ 'vectors-wrapper.svg' | asset_url }}" loading="lazy" width="8.485280990600586" height="8.485280990600586" alt="" class="vectors-wrapper-5"/>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Free shipping on all orders over €100"
    }
  ]
}
{% endschema %}
