{%- assign section_name = 'header' -%}

<div class="announcement-wrapper">
  <div class="announcement">
    <div class="ann-container">
      <div class="text-icon-wrapper">
        <div class="frame-24">
          <div class="announcment-text">Free shipping on all orders over €100</div>
        </div>
        {%- if section.settings.image1 != blank -%}
          {{ section.settings.image1 | image_url: width: 1080 | image_tag: 
            class: 'card-img-top',
            loading: 'lazy'
          }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

<div class="nav-bar">
  <div class="div-block-8">
    <div class="frame-25">
      {%- if section.settings.image10 != blank -%}
        {{ section.settings.image10 | image_url: width: 1080 | image_tag: 
          class: 'logo-img',
          loading: 'lazy'
        }}
      {%- endif -%}
      <div class="menu-2">
        <div class="menu-link">SHOP</div>
        <div class="menu-link">BEST SELLERS</div>
        <div class="menu-link">JOURNAL</div>
        <div class="menu-link">FEATURES</div>
        <div class="menu-link">LOOKBOOKS</div>
        <div class="menu-link">SEARCH</div>
        <div class="menu-link">UNITED STATES</div>
        <div class="menu-link">LOGIN</div>
      </div>
    </div>
  </div>
</div>

<div class="header-image">
  <div class="text-and-button">
    <div class="text-block">WINTER 2024</div>
    <a href="{{ section.settings.link1 }}" class="button w-button">
      {{ section.settings.link1text }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Announcement Icon"
    },
    {
      "type": "image_picker",
      "id": "image10",
      "label": "Logo"
    },
    {
      "type": "url",
      "id": "link1",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "link1text",
      "label": "Button Text",
      "default": "VIEW COLLECTION"
    }
  ],
  "presets": [
    {
      "name": "Header",
      "category": "Header"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}