<div class="header-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), url('{{ section.settings.background_image | img_url: 'master' }}')">
  <div class="text-and-button">
    <div class="text-block">{{ section.settings.heading }}</div>
    {% if section.settings.button_link != blank and section.settings.button_text != blank %}
      <a href="{{ section.settings.button_link }}" class="button w-button">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "WINTER 2024"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "VIEW COLLECTION"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Hero"
    }
  ]
}
{% endschema %}
