<div class="section-content">
  <div class="title-content">
    <div class="title">{{ section.settings.title }}</div>
  </div>
  
  <div id="w-node-_8a2367a9-b025-5cca-4655-58e34ae5f3a2-1362cce0" class="div-block-18">
    <div class="div-block-25">
      {% for block in section.blocks %}
        {% if block.type == 'review' %}
          <div class="frame-18">
            <div class="review-comment">{{ block.settings.review_text }}</div>
            <div class="text-17">- {{ block.settings.reviewer_name }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "REVIEWS"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "Kicks can't be beaten. Found kicks here that I'd been searching for months. Best spot for rare finds!"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "Reviewer Name",
          "default": "Chris L."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
