{% section 'hero' %}

<section class="section-sa">
  <div class="section-wrap">
    {% section 'featured-collection' %}
  </div>
</section>

<section class="section-sa">
  <div class="section-wrap">
    {% section 'collection-tabs' %}
  </div>
</section>

<section class="section-sa">
  <div class="section-wrap">
    {% section 'blog-posts' %}
  </div>
</section>

<section class="section-sa">
  <div class="section-wrap">
    {% section 'reviews' %}
  </div>
</section>

<section class="section-sa footer-wrapper-sa">
  <div class="section-wrap">
    {% section 'newsletter' %}
  </div>
</section>
