{% section 'hero' %}

<section class="section-sa">
  <div class="section-wrap">
    <div class="section-content">
      {% section 'featured-collection' with 'Recent Drops' %}
    </div>
  </div>
</section>

<section class="section-sa">
  <div class="section-wrap">
    <div class="section-content">
      {% section 'collection-tabs' %}
    </div>
  </div>
</section>

<section class="section-sa">
  <div class="section-wrap">
    <div class="section-content">
      {% section 'blog-posts' %}
    </div>
  </div>
</section>

<section class="review-section">
  <div class="section-wrap">
    <div class="section-content">
      {% section 'reviews' %}
    </div>
  </div>
</section>

<section class="section-sa footer-wrapper-sa">
  <div id="w-node-a5cc909f-9a4e-e85c-4b86-5cb98be73a91-1362cce0" class="section-wrap">
    <div class="section-content footer-sa">
      {% section 'newsletter' %}
    </div>
  </div>
</section>
