{% section 'announcement-bar' %}

<div class="main-wrapper">
  {% section 'hero' %}

  {% section 'featured-collection' %}

  {% section 'recent-drops' %}

  {% section 'blog-posts' %}

  {% section 'newsletter' %}
</div>
